body {
  background-color: #e6e6e6;
}

#header{
  margin-top: 5%;
  text-align: center;
}

table {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: grey;
  font-style: normal;
  border: none;
  width: 600px;
}

#preprocessing_table{
  margin-top: 8%;
}

.box_name {
  font-weight: bold;
  color: black;
  background-color: white;
  text-align: center;
  font-size: 25px;
}

th {
  color: white;
}

td {
  border: none;
}

.page {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin-top: 3%;
}

#total_ti {
  border-style: double;
  margin-bottom: 3%;
  padding: 5px;
  width: fit-content;
  border-radius: 5%;
  text-align: left;
  font-size: 15px;
  background-color: white;
  font-weight: bold;
}

.container {
  margin-top: 10px;
  background: rgb(255, 254, 254);
}

.prog {
  width: 600px;
  background: rgb(189, 177, 177);
}

.progs {
  width: 0%;
  height: 30px;
  background: #ffff00;
  color: black;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
