<!DOCTYPE html>

<html>

<head>
  <title> test UI </title>
  <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/prompt.js') }}"></script>
  <script>
    $(document).ready(function(){
      var data = JSON.parse('{{recipe}}'.replaceAll('&#34;', '\"'));
      console.log(data);
      initPrompt(data);
    });
  </script>
  <link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='css/prompt.css') }}"> </head>
<body>
  <div id="hidden-recipe_area" style="display: none"></div>
  <h1 id="header">PROMPT</h1>
  <div class="page">
    <div class>
      <table id="preprocessing_table">
        <thead class="box_name">
          <tr>
            <td colspan="5">전처리존</td>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>시간</th>
            <th>도구</th>
            <th>재료</th>
            <th>첨가물</th>
            <th>동작</th>
          </tr>
        </thead>
        <tbody id="memDiv1">
        </tbody>
      </table>
      <div class="container">
          <div class="prog">
              <div class="progs" id="progressing_p">0%</div>
          </div>
        </div>
    </div>
    <div>
      <div id="total_ti"></div>
      <table id="fire_table">
        <thead class="box_name">
          <tr>
            <td colspan="5">화구존</td>
          </tr>
        </thead>
        <thead>
          <tr>
            <th>시간</th>
            <th>도구</th>
            <th>재료</th>
            <th>첨가물</th>
            <th>동작</th>
          </tr>
        </thead>
        <tbody id="memDiv2">
        </tbody>
      </table>
      <div class="container">
          <div class="prog">
              <div class="progs" id="progressing_f">0%</div>
          </div>
        </div>
    </div>
  </div>
</body>

</html>
