body {
    text-align: center;
    background-color: #eafafa;
  }

  #logo_icon{
    height:50px;
    margin-left: 15px;
    margin-top: 15px;
  }

  #title{
    color: #229191;
    text-shadow: #004d4d 0px 0px 1px;
  }

  #recipe-box{
    border: 3px outset #229191;
    border-radius: 15px;
    width: 100%;
    height: 400px;
  }

  table {
    border: 3px outset #229191;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .empty-block {
    height : 2vw;
  }

  th, td,tr {
    border: 2px solid #229191;
  }

  #buttons_div{
    margin-top: 50px;
  }

  #manual{
    background-color: inherit;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    color: grey;

  }

  #manual:hover {
    color : #cc3300;
    font-weight: bold;
  }

  #btn_create{
    background-color: white;
    border-radius: 5px;
    border: 2px outset #229191;
    color: green;
    font-weight: bold;
  }

  #btn_prompt{
    background-color: white;
    border-radius: 5px;
    border: 2px outset #229191;
    color: darkblue;
    font-weight: bold;
  }

  #btn_create, #btn_prompt {
    font-size: 15px;
  }

  #btn_save{
    background-color: white;
    border-radius: 5px;
    border: 1.5px outset black;
    color: black;
    font-weight: bold;
  }
