html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #FFFDFA;
}

#logo_icon{
  height:50px;
  margin-left: 15px;
  margin-top: 15px;
}

#title{
  color: #229191;
  text-shadow: #004d4d 0px 0px 1px;
}

.container {
  display: flex;
}

.column {
  flex: 1;
}

.textbox {
  background-color: #f5f5dc;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.information {
  flex-basis: 30%;
}

#recipe-box{
  border: 3px outset #229191;
  border-radius: 15px;
  width: 95%;
  height: 600px;
  line-height: 1.6;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 95%;
  border-radius:6px;
}

.empty-block {
  height : 2vw;
}

th {
  background-color: #FFED86;
  padding: 10px;
}

tbody, tr {
  border-bottom: 2px solid #E3F1D5
}

#loadcontent {
  z-index: 99;
  height: 60px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.circle{
  position: absolute;
  z-index: 100;
  height:25px;
  width:25px;
  border-radius: 50%;
  left:15%;
  background-color: #ffa812;
  animation: circle 0.5s alternate infinite ease;
}

@keyframes circle{
  0%{
      top: 60px;
      height: 10px;
  }
  50%{
      height:25px;
      border-radius: 50%;
  }
  100%{
      top:0%;
  }
}
.circle:nth-child(2){
  left:45%;
  animation-delay: .2s;
}
.circle:nth-child(3){
  left:auto;
  right:15%;
  animation-delay: .3s;
}

#memDiv tr:nth-of-type(odd) {
  background: #EAEAE9;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.changetype {
  line-height: 12px;
  width: 58px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:30px;
}

.zoom:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

#btn_movetomain{
  background-color: white;
  border-radius: 5px;
  border: 2px outset #229191;
  color: darkblue;
  font-weight: bold;
}