<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>래식 데모 사용법</title>
</head>
<body>
    <h2>UI 사용법 소개</h2>
    <h3>* 레시피 생성 순서</h3>
    <p>1.레시피 입력 -> 2. 모드 선택 -> 3. 디지털 레시피 생성 버튼 누르기 -> 4. 체크박스</p>
    <h4>1.레시피 입력 형식</h4>
    <pre>
    [기본재료]

    [**소스 재료][국물 재료][양념 재료]....

    [조리방법]
    ->이 형식에 맞추어 레시피를 입력하여야 디지털 레시피가 생성됨
    * 제목은 생략가능 (ex.가지갈비(4인분))
    * [기본재료]와 중간부분의 [소스재료]등은 생략가능, [조리방법]은 필수
    * 레시피 안에 [조리방법]이 이 형식 그대로 포함이 되어 있어야 함
    * 조리방법의 순서는 줄바꿈 기준으로 각 문장 단위로 인식이 됨
    </pre>
    <p>(레시피 입력 예시)</p>
    <img style="width:800px;" src="/static/image/manual.png"/>
    <h4>2. 모드 선택</h4>
    <p>개체명 인식 : ETRI(기본) / KoBERT</p>
    <p>SRL : off(기본) / on</p>
    <h4>3. 디지털 레시피 생성 버튼 누르기</h4>
    <p>* 기본 저장된 레시피 외의 다른 레시피를 확인하고 싶을 때는 새로고침 버튼을 누르면 레시피 입력 창의 레시피가 다음 레시피로 바뀜</p>
    <h4>4. 체크박스</h4>
    <p>* 잘 분리가 되지 않았다고 생각되는 시퀀스는 젤 오른쪽의 체크박스에 체크를 한뒤 저장을 누르면 시퀀스가 데이터베이스에 저장되어 확인 후 수정</p>
</body>
</html>